@using Microsoft.AspNetCore.Http
@using FinanceBillingModel.Models
@model UploadFile
@*@model FinanceBilling.Models.TblLoggingViewModel*@
@{
    ViewBag.Title = "Upload Files";
    if (Model.ErrorFileNameLists != null)
    {
        var GUID = Model.ErrorFileNameLists.Select(x => x.GUID).FirstOrDefault();
        var ID = Model.ErrorFileNameLists.Select(x => x.ID).FirstOrDefault();

    }
    //List<UploadFileErrorModel> uploadFileErrorsList = new List<UploadFileErrorModel>();
    //if (Model != null)
    //{
    //	uploadFileErrorsList = Model.UploadFileErrorModels;
    //}
    List<ListFileError> listFileErrors = new List<ListFileError>();
    if (Model.listFileErrors != null)
    {
        listFileErrors = Model.listFileErrors;

    }
    //UploadFileErrorModel uploadFileErrors = ViewBag.uploadFileErrorModel;
}
<div class="row" style="border:1px solid green;">
    <div class="col-md-5">
        <div class="card text-center">
            <div class="card-header">
                Upload Files
            </div>
            <div class="card-body text-center">
                <form method="post" enctype="multipart/form-data" asp-controller="UploadFile" asp-action="UploadFile">
                    <div class="form-group">
                        <div class="col-md-10">
                            <!--<div class="drop-zone d-flex justify-content-center align-items-center">-->
                            @*<img id="Logo" src="@logoImage" style="max-height:100%;max-width:100%;align-content:center;" />*@
                            <!--<span class="drop-zone-prompt">Drag and drop , Browse</span>-->
                            @*<div style="visibility:hidden;">*@
                            <!--<input asp-for="UploadedFiles" type="file" id="file" class="drop-zone-input" onchange="readURL(this);" multiple />-->
                            @*</div>*@
                            <!--</div>-->
                            <input type="file" asp-for="UploadedFiles" id="file" onchange="readURL(this);" multiple />
                            @*<input asp-for="UploadedFiles" multiple />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="btn btn-success" id="Upload" type="submit" disabled value="Upload" onclick="showLoader();" /><br />
                            <label id="msglabel" type="hidden">@ViewBag.Message</label>

                        </div>

                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>


    </div>
    @if ((Model.ErrorList != null))
    {
        @(Html.DevExtreme().DataGrid<FinanceBilling.Models.ErrorLogViewModels>()
        .DataSource(Model.ErrorList,"ID")
                                .AllowColumnResizing(true)
        .ColumnMinWidth(50)
        .ColumnAutoWidth(true)
        .ShowBorders(true)
        .Columns(c => {
                c.Add().DataField("MachineName");
                c.Add().DataField("PackageName");
                c.Add().DataField("TaskName");
                c.Add().DataField("ErrorCode");
                c.Add().DataField("ErrorDescription");
                                c.Add().DataField("Dated");
        })
                                )
    }
    else if (ViewBag.missingFile != null)
    {
        <div class="col-md-5">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="col-sm=12" style="padding-top: 11em; margin-left: 29px;">
                <span class="alert-heading"><b>Please upload missing files:-</b></span>
            </div>
            <div class="col-sm-12">
                <ul class="text-danger">
                    @foreach (var modelSate in ViewBag.missingFile)
                    {
                        <li>@modelSate.FileName</li>
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-5">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }
</div>
<hr />

<!--display error by guid -->
@if (Model.ErrorFileNameLists != null)
{
    @foreach (var data in Model.ErrorFileNameLists)
    {
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <div class="accordion-button">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Package Name</th>
                                    <th scope="col">Total Rows</th>
                                    <th scope="col">Success Rows</th>
                                    <th scope="col">Failed Rows</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@data.PackageName</td>
                                    <td>@data.NumRowsTotal</td>
                                    <td>@data.NumRowsInserted</td>
                                    <td>@data.NumRowsNotInserted</td>
                                    <td><button type="button" class="btn btn-info" onclick="accordionData(collapse_'@data.ID','@data.PackageName')" data-bs-toggle="collapse" data-bs-target="#collapse_@data.ID" aria-expanded="true" aria-controls="collapseOne">View Detail</button></td>



                                </tr>
                            </tbody>
                        </table>
                        @*//Package Name:@data.PackageName,Failed Rows:@data.NumRowsNotInserted,Total Rows: @data.NumRowsTotal*@

                    </div>
                </h2>
                <div id="collapse_@data.ID" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body" id="accordionBody">

                        @(Html.DevExtreme().DataGrid<FinanceBilling.Models.AccordionBodyData>
				()
				.DataSource(ds => ds.Mvc()
				.Controller("UploadFIle")
				.Key("ErrorColumn")
				.LoadMethod("Get")
				.LoadAction("GetAccordionData")
				.LoadParams(new { Guid=data.GUID,Id=data.ID})
				)
				.RemoteOperations(true)
        .AllowColumnResizing(true)
				.Columns(columns => {
					columns.AddFor(m => m.PackageName);
					columns.AddFor(m => m.ErrorColumn);
					columns.AddFor(m => m.ErrorDescription);
					columns.AddFor(m => m.EntityAttributes);

				})
				.Paging(p => p.PageSize(10))
				.FilterRow(f => f.Visible(true))
				.HeaderFilter(f => f.Visible(true))
				.GroupPanel(p => p.Visible(true))
				.Grouping(g => g.AutoExpandAll(false))
				.RemoteOperations(true)
				.Summary(s => s
				.TotalItems(totalItems =>
				{
					totalItems.AddFor(m => m.ErrorColumn).SummaryType(SummaryType.Count);
				})
				.GroupItems(groupItems =>
				{
					groupItems.Add().SummaryType(SummaryType.Count);
				})
				)
    )
                    </div>
                </div>
            </div>
        </div>
    }
}





<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active " id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="true">New</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="existing-tab" data-bs-toggle="tab" data-bs-target="#existing" type="button" role="tab" aria-controls="existing" aria-selected="false">Existing</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="terminated-tab" data-bs-toggle="tab" data-bs-target="#terminated" type="button" role="tab" aria-controls="terminated" aria-selected="false">Terminated</button>
                    </li>
                    <li class="nav-item" role="analytics">
                        <button class="nav-link" id="analytics-tab" data-bs-toggle="tab" data-bs-target="#analytics" type="button" role="tab" aria-controls="analytics" aria-selected="false">Analytics</button>
                    </li>
                </ul>
                <button type="button" id="closebutton"class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent" style="width:100%;">
                    <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab" style="overflow:auto; width:100%;">

                        @(Html.DevExtreme().DataGrid<FinanceBilling.Models.NewClientViewModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Client")
        //.Key("ClientID")
        .LoadAction("NewClient")
    //.InsertAction("AddNewQuickBookClient")
    //.UpdateAction("UpdateQuickBookClient")
    //.DeleteAction("DeleteQuickBookClient")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.ClientName);

        columns.AddFor(m => m.ClientGroupName);

        columns.AddFor(m => m.BillingStartDate);

        columns.AddFor(m => m.EIN);
        columns.AddFor(m => m.ClientDivisionName);
        columns.AddFor(m => m.ClientID);

        columns.AddFor(m => m.ClientDivisionID);

        columns.AddFor(m => m.Active);

        columns.AddFor(m => m.ClientAlternate);
        columns.AddFor(m => m.DeactivationDate);

        columns.AddFor(m => m.TPACode);

        columns.AddFor(m => m.Linetype);

        columns.AddFor(m => m.AccountTypeCode);
        columns.AddFor(m => m.DivisionName);
        columns.AddFor(m => m.PlanID);

    })
    .Editing(e => e
        .AllowAdding(false)
        .AllowUpdating(false)
        .AllowDeleting(false)
    )
)

                    </div>

                    <div class="tab-pane fade" id="existing" role="tabpanel" aria-labelledby="existing-tab" style="overflow:auto; width:100%;">

                        @(Html.DevExtreme().DataGrid<FinanceBilling.Models.NewClientViewModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Client")
        .LoadAction("ExistingClient")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.ClientName);

        columns.AddFor(m => m.ClientGroupName);

        columns.AddFor(m => m.BillingStartDate);

        columns.AddFor(m => m.EIN);
        columns.AddFor(m => m.ClientDivisionName);
        columns.AddFor(m => m.ClientID);

        columns.AddFor(m => m.ClientDivisionID);

        columns.AddFor(m => m.Active);

        columns.AddFor(m => m.ClientAlternate);
        columns.AddFor(m => m.DeactivationDate);

        columns.AddFor(m => m.TPACode);

        columns.AddFor(m => m.Linetype);

        columns.AddFor(m => m.AccountTypeCode);
        columns.AddFor(m => m.DivisionName);
        columns.AddFor(m => m.PlanID);

    })
    .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        //.HeaderFilter(f => f.Visible(true))
        //.GroupPanel(p => p.Visible(true))
        //.Grouping(g => g.AutoExpandAll(false))
        //.RemoteOperations(true)
        .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.ClientName).SummaryType(SummaryType.Count);
        })
    .GroupItems(groupItems =>
    {
        groupItems.Add().SummaryType(SummaryType.Count);
    })
    //.Editing(e => e
    //    .AllowAdding(false)
    //    .AllowUpdating(false)
    //    .AllowDeleting(false)


    //

    )
)
                    </div>
                    <div class="tab-pane fade" id="terminated" role="tabpanel" aria-labelledby="terminated-tab" style="overflow:auto; width:100%;">

                        @(Html.DevExtreme().DataGrid<FinanceBilling.Models.TerminatedClient>()
    .DataSource(ds => ds.Mvc()
        .Controller("Client")
        .LoadAction("TerminatedClient")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.ClientName);

        columns.AddFor(m => m.ClientGroupName);

        columns.AddFor(m => m.BillingStartDate);

        columns.AddFor(m => m.EIN);
        columns.AddFor(m => m.ClientDivisionName);
        columns.AddFor(m => m.ClientID);

        columns.AddFor(m => m.ClientDivisionID);

        columns.AddFor(m => m.Active);

        columns.AddFor(m => m.ClientAlternate);
        columns.AddFor(m => m.DeactivationDate);

        columns.AddFor(m => m.TPACode);

        columns.AddFor(m => m.Linetype);

        columns.AddFor(m => m.AccountTypeCode);
        columns.AddFor(m => m.MyProperty);
        columns.AddFor(m => m.PlanID);

    })
    .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        //.HeaderFilter(f => f.Visible(true))
        //.GroupPanel(p => p.Visible(true))
        //.Grouping(g => g.AutoExpandAll(false))
        //.RemoteOperations(true)
        .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.ClientName).SummaryType(SummaryType.Count);
        })
    .GroupItems(groupItems =>
    {
        groupItems.Add().SummaryType(SummaryType.Count);
    })
    //.Editing(e => e
    //    .AllowAdding(false)
    //    .AllowUpdating(false)
    //    .AllowDeleting(false)


    //

    )
)
                    </div>

                    <div class="tab-pane fade" id="analytics" role="tabpanel" aria-labelledby="analytics-tab" style="overflow:auto; width:100%;">
                        <div class="container" style="overflow:auto; width:100%;float:left;">
                            <div class="col-md-6" style="overflow:auto; width:100% ;float:left;">
                                <h4 class="form-inline">Client To Product Comaprison</h4>

                                @(Html.DevExtreme().DataGrid<FinanceBilling.Models.ClientToProductViewModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Analytics")
        .LoadAction("GetListClientProductComparison")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.SourceFileBencode);

        columns.AddFor(m => m.SourceFileClientName);

        columns.AddFor(m => m.SourceFileProducts);

        columns.AddFor(m => m.BillingAppBenCode);
        columns.AddFor(m => m.BillingAppClientName);
        columns.AddFor(m => m.StartBillingDate);

        columns.AddFor(m => m.EndBillingDate);

        columns.AddFor(m => m.iNotExistInBillingAppTable);


    })
    .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.SourceFileBencode).SummaryType(SummaryType.Count);
        })
    .GroupItems(groupItems =>
    {
        groupItems.Add().SummaryType(SummaryType.Count);
    })
    )
)
                            </div>
                            <div class="col-md-6" style="overflow:auto; width:100%;float:left;">
                                <h4 class="form-inline">Client To Client Comparison</h4>

                                @(Html.DevExtreme().DataGrid<FinanceBilling.Models.ClientToClientViewModel>()
    .DataSource(ds => ds.Mvc()
        .Controller("Analytics")
        .LoadAction("GetListClientToClientComparison")
    )
    .RemoteOperations(true)
    .Columns(columns => {


        columns.AddFor(m => m.SourceFileBenCode);

        columns.AddFor(m => m.SourceFileClientName);

        columns.AddFor(m => m.BillingAppBenCode);

        columns.AddFor(m => m.BillingAppClientName);
        columns.AddFor(m => m.StartBillingDate);
        columns.AddFor(m => m.StartBillingDate);

        columns.AddFor(m => m.iNotExistInBillingAppTable);


    })
    .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.SourceFileBenCode).SummaryType(SummaryType.Count);
        })
    .GroupItems(groupItems =>
    {
        groupItems.Add().SummaryType(SummaryType.Count);
    })
    )
)
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="closebutton_" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>


<script>

	$(document).ready(function () {
		var res = '@ViewBag.Message';
		if (res == "File Uploaded Successfully") {
            $("#successModal").modal("show")
		}

    });


	$("#closebutton").click(function () {
		$("#successModal").modal("hide")
	})
	$("#closebutton_").click(function () {
		$("#successModal").modal("hide")
	})
    $("#new-tab").click(function () {
        $("#new").addClass("show active")
        $("#new-tab").addClass("active")
        $("#existing").removeClass("show active")
        $("#terminated").removeClass("show active")
        $("#analytics").removeClass("show active")

        $("#existing-tab").removeClass("active")
        $("#terminated-tab").removeClass("active")
        $("#analytics-tab").removeClass("active")


    })
    $("#existing-tab").click(function () {
        $("#existing").addClass("show active")
        $("#existing-tab").addClass("active")
        $("#new").removeClass("show active")
        $("#terminated").removeClass("show active")
        $("#analytics").removeClass("show active")

        $("#new-tab").removeClass("active")
        $("#terminated-tab").removeClass("active")
        $("#analytics-tab").removeClass("active")


    })
    $("#terminated-tab").click(function () {
        $("#terminated").addClass("show active")
        $("#terminated-tab").addClass("active")
        $("#existing").removeClass("show active")
        $("#new").removeClass("show active")
        $("#analytics").removeClass("show active")

        $("#new-tab").removeClass("active")
        $("#existing-tab").removeClass("active")
        $("#analytics-tab").removeClass("active")


    })
    $("#analytics-tab").click(function () {
        $("#analytics").addClass("show active")
        $("#analytics-tab").addClass("show active")
        $("#terminated").removeClass("show active")
        $("#existing").removeClass("show active")
        $("#new").removeClass("show active")

        $("#new-tab").removeClass("show active")
        $("#existing-tab").removeClass("show active")
        $("#terminated-tab").removeClass("show active")
    })
    document.querySelectorAll(".drop-zone-input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files.length);
                inputElement.files = e.dataTransfer.files;
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files.length);
            }
            dropZoneElement.classList.remove("drop-zone--over");
        });
    });


    function UploadeFiles() {
        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;
        var data = new FormData();

        for (var i = 0; i < files.length; i++) {
            var fname = files[i].name;
            var re = /(\.doc|\.docx|\.csv|\.txt)$/i;
            if (!re.exec(fname)) {
                alert("File extension not supported!");
                return false;
            }
            else {
                data.append("Files", files[i]);
            }
        }
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (e) {
                    if (e.lengthComputable) {
                        var loaded = e.loaded;
                        var total = e.total;
                        var percent = Math.round((loaded / total) * 100);
                        $("#pb").attr("aria-valuenow", percent).css("width", percent + "%").text(percent + "%");
                    };

                });
                return xhr;
            },
            type: "post",
            url: "/UploadFIle/UploadFile",
            data: data,
            dataType: "json",
            contentType: false,
            processData: false,
            cache: false,
					success: function (ss) {

            }
        });
    };

    /**
     * Updates the thumbnail on a drop zone element.
     *
     *
     */

  //$("#").click(function (guid,id) {
  //});

    function updateThumbnail(dropZoneElement, filelength) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone-prompt")) {
            dropZoneElement.querySelector(".drop-zone-prompt").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = filelength + " Files Selected";


        thumbnailElement.style.backgroundImage = null;

    }


    function readURL(input) {
        var bt = document.getElementById('Upload');
        if (file.value != '') {
            bt.disabled = false;

        }
        else {
            bt.disabled = true;
        }


        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Logo')
                    .attr('src', e.target.result)
                $('#Logo').css("visible:true;")
            };
            reader.readAsDataURL(input.files[0]);
            $('#Logo').attr("visibility", "false");

        }

  }
  function accordionData(dataId, fileName) {
		console.log(dataId, fileName)
					switch (fileName) {
						case "1_BENEFL_Integrated_Current_Import":
									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "2_BENEFL_Integrated_Prior_Import":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "3_DebitCard_Import":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "4_NPM":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "5_QBdetail":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "6_BrokerClientlist":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "7_Clientlist":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "8_Cobraletters":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "9_Bswift_BillingNumbers_Import":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "910_ENBillingNumbers_Import":

									$("#collapse_"+dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "911_EC Extract":

									$("#collapse_" + dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")

							break;
						case "912_EB Extract":
									$("#collapse_" + dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")
							break;
						case "913_SPMBYACAREPORT":
									$("#collapse_" + dataId).removeClass("hide")
									$("#collapse_"+dataId).addClass("show")
							break;
						default:

					}
				}






</script>
<style>
    .mytable tr > *:nth-child(1) {
        width: 15%;
    }

    .mytable tr > *:nth-child(2) {
        width: 70%;
    }

    .mytable tr > *:nth-child(3) {
        width: 15%;
    }

    #accordion-table {
        padding: 1rem 1.25rem;
        /*	Height: 300px;*/
        /*overflow: scroll;*/
    }
</style>
